{% extends "headerfootermain.html" %}
	{% block content %}
<!-- booking form -->
<style>
}
.ridge 
{
	border-style: ridge;
}
.hidden 
{
	border-style: hidden;
}

.welcome-button {
 
    padding: 13px 30px;


    }
</style>

<style >
							{% for x in data %}


	.bgs{{forloop.counter}} {
	background: url('{{x.image.url}}')no-repeat 0px 0px !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	-ms-background-size: cover !important;
	background-size: cover !important;
	min-height: 192px !important;
}

							{% endfor %}


							{% for x in datas %}


	.bgs1{{forloop.counter}} {
	background: url('{{x.image.url}}')no-repeat 0px 0px !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	-ms-background-size: cover !important;
	background-size: cover !important;
	min-height: 192px !important;
}

							{% endfor %}


							{% for x in datass %}


	.bgs2{{forloop.counter}} {
	background: url('{{x.image.url}}')no-repeat 0px 0px !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	-ms-background-size: cover !important;
	background-size: cover !important;
	min-height: 192px !important;
}

							{% endfor %}


							{% for x in datasss %}


	.bgs3{{forloop.counter}} {
	background: url('{{x.image.url}}')no-repeat 0px 0px !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	-ms-background-size: cover !important;
	background-size: cover !important;
	min-height: 192px !important;
}

							{% endfor %}


							{% for x in datassss %}


	.bgs4{{forloop.counter}} {
	background: url('{{x.image.url}}')no-repeat 0px 0px !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	-ms-background-size: cover !important;
	background-size: cover !important;
	min-height: 192px !important;
}

							{% endfor %}


</style>
<section class="booking py-5" id="booking">
	<h3 class="text-center mb-4 text-success">{{success}}</h3>

	<h3 class="text-center mb-4">Search Your Tour</h3>
	<div class="container">
		<div class="book-form">
		   <form action="/searching/" method="POST">
		   	{% csrf_token %}
			<div class="row justify-content-center">
				<!-- <div class="col-md-3 col-sm-6 col-6 px-2 form-time-w3layouts editContent">
						<label class="editContent"><span class="fa fa-user" aria-hidden="true"></span> Traveller Name</label>
						<input type="text" placeholder="Your Full Name" required="">
				</div> -->
				<!-- <div class="col-md-3 col-sm-6 col-6 px-2 form-time-w3layouts editContent">
						<label class="editContent"><span class="fa fa-map-marker" aria-hidden="true"></span>Package type</label>
						<select class="form-control" name="packagestype" id='pack' onchange="member();">
							<option>Type</option>
							<option value="solo">Solo</option>
							<option value="couple">Couple</option>
							<option value="group">Group</option>
							<option value="family">Family</option>
							<option value="bachelers">Bachelers</option>
							<option value="ladies">Ladies</option>
						</select>
				</div> -->
				<!-- div class="col-md-3 col-sm-6 col-6 px-2 form-time-w3layouts editContent" id='members' style="display: none;">
						<label class="editContent"><span class="fa fa-map-marker" aria-hidden="true"></span> Number of members</label>
						<select class="form-control" name="members">
							<option value="">numbers</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
						</select>
				</div> -->
				<!-- <div class="col-md-3 col-sm-6 col-6 px-2 form-time-w3layouts editContent" id='couple' style="display: none;">
						<label class="editContent"><span class="fa fa-map-marker" aria-hidden="true"></span> Number of couples</label>
						<select class="form-control" name="couples">
							<option value="">numbers</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							
						</select>
				</div> -->
				
					<!-- div class="col-md-3 col-sm-6 col-6 px-2 form-time-w3layouts editContent"  style="display: none;" id="family">
						<label class="editContent"><span class="fa fa-map-marker" aria-hidden="true"></span> Number of Adult</label>
						<select class="form-control" name="adult">
							<option value="">numbers</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							
						</select>
				</div> -->
				<!-- <div class="col-md-3 col-sm-6 col-6 px-2 form-time-w3layouts editContent" style="display: none;" id="family1"  >
						<label class="editContent"><span class="fa fa-map-marker" aria-hidden="true"></span> Number of Children</label>
						<select class="form-control" name="children">
							<option value="">numbers</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							
						</select>
				</div> -->
				<!-- <script>
        function onlyNumberKey(evt) {
              
            Only ASCII character in that range allowed
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        }
    
				</script> -->
				<div class="col-md-3 col-sm-6 col-6 px-2 form-date-w3-agileits editContent">
						<label class="editContent"><span class="fa fa-map-marker" aria-hidden="true"></span> Tour place</label>
						<select class="form-control" name="location">
							<option>LOCATION</option>
							{% for x in location %}
                            <option value="{{x.id}}" required>{{x.locationadd}}</option>
                            {% endfor %}
							<!-- <option value="Andhra Pradesh">Andhra Pradesh</option>
							<option value="Arunachal Pradesh">Arunachal Pradesh</option>
							<option value="Assam">Assam</option>
							<option value="Bihar">Bihar</option>
							<option value="Chattisgarh">Chattisgarh</option>
							<option value="Goa">Goa</option>
							<option value="Gujarat">Gujarat</option>
							<option value="Haryana">Haryana</option>
							<option value="Himachal Pradesh">Himachal Pradesh</option>
							<option value="Jharkhand">Jharkhand</option>
							<option value="Karnataka">Karnataka</option>
							<option value="Kerala">Kerala</option>
							<option value="Madhya Pradesh">Madhya Pradesh</option>
							<option value="Maharastra">Maharastra</option>
							<option value="Manipur">Manipur</option>
							<option value="Meghalaya">Meghalaya</option>
							<option value="Mizoram">Mizoram</option>
							<option value="Nagaland">Nagaland</option>
							<option value="Odisha">Odisha</option>
							<option value="Punjab">Punjab</option>
							<option value="Rajasthan">Rajasthan</option>
							<option value="Sikkim">Sikkim</option>
							<option value="Tamil Nadu">Tamil Nadu</option>
							<option value="Telangana">Telangana</option>
							<option value="Tripura">Tripura</option>
							<option value="Uttarakhand">Uttarakhand</option>
							<option value="Uttar Pradesh">Uttar Pradesh</option>
							<option value="West Bengal">West Bengal</option> -->
						</select>
				</div>
				<!-- <div class="col-md-2 col-sm-4 col-6 px-2 form-left-agileits-w3layouts editContent">
						<label class="editContent"><span class="fa fa-bus" aria-hidden="true"></span> Trip in</label>
					<div class="agileits_w3layouts_main_gridl">
						<input class="date has Datepicker" id="datepicker" name="trip_in" type="text" value="Start Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Select Date';}" required="" >
					</div>
				</div> -->
				<!-- <div class="col-md-2 col-sm-4 col-6 px-2 form-left-agileits-w3layouts editContent">
						<label class="editContent"><span class="fa fa-bus" aria-hidden="true"></span> Trip out</label>
					<div class="agileits_w3layouts_main_gridl">
						<input class="date has " name="noofdays" onkeypress="return onlyNumberKey(event)" type="text" value="Select No of days" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Select No of days';}" required="">
					</div>
				</div> -->
				<div class="col-md-2 px-2 col-sm-4 col-6 form-left-agileits-submit editContent">
					  <input type="submit" value="Search">
				</div>
				</div>
			</form>
		</div>
	</div>
</section>
<!-- //booking form -->

<!-- booking bottom -->	
<section class="bottom py-5">
	<div class="container">
		<div class="row bottom-grids">
			<div class="col-md-6 grid1">
				<h4 class="mb-4">Discount 10-35% off</h4>
				<h3 class="mb-4">Travel the world with US</h3>
				<!-- <a href="#">Read More</a> -->
			</div>
			<!-- <div class="col-md-3 video-play">
				video
				<div class="video-grid1 mt-4">
					<div class="demo-bg1">
						<div class="pop-bg position-relative">
							<div class="arrow-container animated fadeInDown">
								<a href="#small-dialog1" class="arrow-2 popup-with-zoom-anim">
									<i class="fa fa-play"></i>
								</a>
								<div class="arrow-1 animated hinge infinite zoomIn"></div>
							</div>
							<h4 class="mt-3">Watch video</h4>
							 video-button-popup
							<div id="small-dialog1" class="mfp-hide">
								<div class="agileits_modal_body">
									<iframe src="https://player.vimeo.com/video/162413069"></iframe>
								</div>
							</div>
							// video-button-popup
						</div>
					</div>
				</div>

			</div> -->
			<div class="col-md-3 mt-md-0 mt-2">
				<img src="/static/assets/images/off.jpg" alt="" class="img-fluid" />
			</div>
		</div>
	</div>
</section>

<!-- //booking bottom -->	
	<section class=" team py-0" id="pricing" >
		<div class="container-fluid p-sm-4">
		<h2 class="heading text-center mb-sm-5 mb-4">Best destinations at lower price!</h2>
			<div class=" inner-sec-w3ls-agileits">
				<div class="gallery_grids">
					<div class="card-desk text-center">
						<div class="row prime ">
							<!-- <h3>{{x.categoryfield}}</h3> -->
							{% for x in data %}

							<div class="col-lg-3 col-sm-6 mt-sm-4 mt-5 price-main-info card box-shadow">
								<a href="/details/?pid={{x.id}}">
								<div class="card-header bgs{{forloop.counter}}">
									<h4 style="background-color: rgba(0, 0, 0, .3); font-weight: bolder;">{{x.location.locationadd}}
										<br>
										<span><b>{{x.destination}}</b></span>
									</h4>
									<div class="offer">
										<h3>{{x.discpercentage}}% OFF</h3>
									</div>
								</div>
								<div class="card-body">
									<h5 class="card-title pricing-card-title">
										<span class="align-top"></span>&#8377; <del>{{x.amount}}</del> {{x.discamount}}
										<br>
										<small class="text-muted"> {{x.days}} day /</small>
										<small class="text-muted">{{x.nights}} night</small>
									</h5>
									
								</div>
							</a>
							</div>
							{% endfor %}
							<div class="row welcome-grids mx-auto ">
								<div class="col-lg-0 mt-3">
									<a href="/discount/">More Offers</a>
								</div>
							</div>					
						</div>
						
					</div>
					
				</div>
				
			</div>			
		</div>
	</section>
<hr>
	<section class=" team py-2 Packages" id="pricing">
		<h2 class="heading text-center mb-sm-0 mb-5 mt-4">Varieties of Special Packages</h2>
	</section>



	<section class=" team py-0 " id="pricing">
		<div class="container-fluid p-sm-4">
		<!-- <h2 class="heading text-center mb-sm-5 mb-4">Varieties of Special Packages</h2> -->
			<div class="inner-sec-w3ls-agileits">
				<div class="gallery_grids">
							<h3 class="text-center">Solo</h3>
					<div class="card-desk text-center">
						<div class="row prime " >
							{% for x in datas %}
							<div class="col-lg-3 col-sm-8 mt-sm-4 mt-5 price-main-info card box-shadow">
								<a href="/details/?pid={{x.id}}">
									<div class="card-header bgs1{{forloop.counter}}">
										<h4 style="background-color: rgba(0, 0, 0, .3); font-weight: bolder;">{{x.location.locationadd}}
											<br>
											<span><b>{{x.destination}}</b></span>
										</h4>
									<!-- <div class="offer">
										<h3>{{x.discpercentage}}% OFF</h3>
									</div> -->
								</div>
								<div class="card-body">
									<h5 class="card-title pricing-card-title">
										<span class="align-top"></span>&#8377; {{x.amount}}
										<br>
										<small class="text-muted"> {{x.days}} day /</small>
										<small class="text-muted">{{x.nights}} night</small>
									</h5>
									
								</div>
							</a>
							</div>
							<!-- <div class="row welcome-grids center">
								<div class="col-lg-0 mt-2">
									<a href="/discount/">More Offers</a>
								</div>
							</div> -->
							{% endfor %}
							
								<div class="row welcome-grids mx-auto ">
								<div class="col-lg-0 mt-3">
									<a href="/special/?scid=Solo">More Offers</a>
								</div>
							</div>		

						</div>
						
					</div>
					
				</div>
				
			</div>			
		</div>
	</section>


	<section class=" team py-0 " id="pricing">
		<div class="container-fluid p-sm-4">
		<!-- <h2 class="heading text-center mb-sm-5 mb-4">Varieties of Special Packages</h2> -->
			<div class="inner-sec-w3ls-agileits">
				<div class="gallery_grids">
							<h3 class="text-center">Honeymoon</h3>
					<div class="card-desk text-center">
						<div class="row prime " >
	
							{% for x in datass %}
							<div class="col-lg-3 col-sm-6 mt-sm-4 mt-5 price-main-info card box-shadow">
								<a href="/details/?pid={{x.id}}">
								<div class="card-header bgs2{{forloop.counter}}">
									<h4 style="background-color: rgba(0, 0, 0, .3); font-weight: bolder;">{{x.location.locationadd}}
										<br>
										<span><b>{{x.destination}}</b></span>
									</h4>
									<!-- <div class="offer">
										<h3>{{x.discpercentage}}% OFF</h3>
									</div> -->
								</div>
								<div class="card-body">
									<h5 class="card-title pricing-card-title">
										<span class="align-top"></span>&#8377; {{x.amount}}
										<br>
										<small class="text-muted"> {{x.days}} day /</small>
										<small class="text-muted">{{x.nights}} night</small>
									</h5>
									
								</div>
							</a>
							</div>
							{% endfor %}
							<!-- <div class="col-lg-3 col-sm-6 mt-sm-4 mt-5 price-main-info card box-shadow"> -->
								<!-- <a href="/details/?pid={{x.id}}"> -->
								<!-- <div class="card-header"> -->
										<div class="row welcome-grids mx-auto ">
								<div class="col-lg-0 mt-3">
									<a href="/special/?scid=Honeymoon">More Offers</a>
								</div>
							</div>	
									
								<!-- </div> -->
								<!-- </a> -->
								<!-- </div> -->
							</div>					
						</div>
						
					</div>
					
				</div>
				
			</div>			
		</div>
	</section>


	<section class=" team py-0 " id="pricing">
		<div class="container-fluid p-sm-4">
		<!-- <h2 class="heading text-center mb-sm-5 mb-4">Varieties of Special Packages</h2> -->
			<div class="inner-sec-w3ls-agileits">
				<div class="gallery_grids">
							<h3 class="text-center">Holiday</h3>
					<div class="card-desk text-center">
						<div class="row prime " >
	

							{% for x in datasss %}
							<div class="col-lg-3 col-sm-6 mt-sm-4 mt-5 price-main-info card box-shadow">
								<a href="/details/?pid={{x.id}}">
								<div class="card-header bgs3{{forloop.counter}}">
									<h4 style="background-color: rgba(0, 0, 0, .3); font-weight: bolder;">{{x.location.locationadd}}
										<br>
										<span><b>{{x.destination}}</b></span>
									</h4>
									<!-- <div class="offer">
										<h3>{{x.discpercentage}}% OFF</h3>
									</div> -->
								</div>
								<div class="card-body">
									<h5 class="card-title pricing-card-title">
										<span class="align-top"></span>&#8377; {{x.amount}}
										<br>
										<small class="text-muted"> {{x.days}} day /</small>
										<small class="text-muted">{{x.nights}} night</small>
									</h5>
									
								</div>
							</a>
							</div>
							{% endfor %}
								<div class="row welcome-grids mx-auto ">
								<div class="col-lg-0 mt-3">
									<a href="/special/?scid=Holiday">More Offers</a>
								</div>
							</div>	
							</div>					
						</div>
						
					</div>
					
				</div>
				
			</div>			
		</div>
	</section>

	<section class=" team py-0 " id="pricing">
		<div class="container-fluid p-sm-4">
		<!-- <h2 class="heading text-center mb-sm-5 mb-4">Varieties of Special Packages</h2> -->
			<div class="inner-sec-w3ls-agileits">
				<div class="gallery_grids">
							<h3 class="text-center">Family</h3>
					<div class="card-desk text-center">
						<div class="row prime " >
	
							{% for x in datassss %}
							<div class="col-lg-3 col-sm-6 mt-sm-4 mt-5 price-main-info card box-shadow">
								<a href="/details/?pid={{x.id}}">
								<div class="card-header bgs4{{forloop.counter}}">
									<h4 style="background-color: rgba(0, 0, 0, .3); font-weight: bolder;">{{x.location.locationadd}}
										<br>
										<span><b>{{x.destination}}</b></span>
									</h4>
									<!-- <div class="offer">
										<h3>{{x.discpercentage}}% OFF</h3>
									</div> -->
								</div>
								<div class="card-body">
									<h5 class="card-title pricing-card-title">
										<span class="align-top"></span>&#8377; {{x.amount}}
										<br>
										<small class="text-muted"> {{x.days}} day /</small>
										<small class="text-muted">{{x.nights}} night</small>
									</h5>
									
								</div>
							</a>
							</div>
							{% endfor %}
							<div class="row welcome-grids mx-auto ">
								<div class="col-lg-0 mt-3">
									<a href="/special/?scid=Family">More Offers</a>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="row welcome-grids mx-auto justify-content-center">
		<div class="col-lg-0 mt-1">
			<a href="//" onclick="myFunction(); return false;">View All Special Packages Types</a>						
			<!-- <button type="button" onclick="myFunction()">Click Me!</button> -->
		</div>
	</div>	
<hr>
<script>
function myFunction() {
  document.getElementById('click').style.display='block';
  // document.body.scrollTop = 0;
  // document.documentElement.scrollTop = 0;
  // document.documentElement.behavior= 'smooth';
 window.scrollTo({top: 0, behavior: "smooth"});
 setTimeout(() => {
let get = document.getElementById('click');
get.style.display = 'none';
}, 7000);
}
</script>


	<!-- <section class="team py-1 " >
		<div class="container-fluid p-lg-5 p-sm-3"> -->
		<!-- <h2 class="heading text-center mb-sm-5 mb-4">Best destinations at lower price!</h2> -->
			<!-- <div class="inner-sec-w3ls-agileits"> -->
				<!-- <div class="gallery_grids"> -->
					<!-- <div class="card-desk text-center"> -->
						<!-- div class="row prime bg-secondary">
							<div class="row welcome-grids center">
								<div class="col-lg-1 mt-1">
									<a href="#">More Offers</a>
								</div>
							</div>
						</div> -->
					<!-- </div> -->

				<!-- </div> -->
			<!-- </div> -->
		<!-- </div>
	</section> -->
<!-- welcome -->
<section class="welcome py-4">
	<div class="container py-3">
	<h3 class="heading text-center mb-md-5 mb-4"> About Us </h3>
		<div class="row welcome-grids">
			<div class="col-lg-6">
				<h4 class="mb-3">welcome to the travel world</h4>
				<h3>Remember that happiness is a way of travel, not a destination.</h3>
				<p class="my-4">At the end of the day your feet should be dirty, your hair messy and your eyes sparkling.</p>
				<a href="/about/">Read More</a>
			</div>
			<div class="col-lg-6 mt-lg-0 mt-5 welcome-grid3">
				<div class="position">
					<img src="/static/assets/images/banner1.jpg" alt="" class="img-fluid" /> 	
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //welcome -->

<!-- /services -->
<!-- <section class="featured_services py-5">
	<div class="container py-3">
		<h3 class="heading text-center mb-5">Our Services</h3>
		<div class="row agile_inner_info">
			<div class="col-lg-4 col-md-6 w3_agile_services_grid">
				<div class="agile_services_grid">
					<div class="hover06 column">
						<div>
							<figure><img src="/static/assets/images/s1.jpg" alt=" " class="img-responsive"></figure>
						</div>
					</div>
					<div class="agile_services_grid_pos">
						<i class="fa fa-globe" aria-hidden="true"></i>
					</div>
				</div>
				<h4>Tempus eu turpis</h4>
				<p>Lorem ipsum dolor sit amet, do eiusmod tempor incididunt .Aliquam lacus turpis.</p>
			</div>
			<div class="col-lg-4 col-md-6 mt-md-0 mt-5 w3_agile_services_grid">
				<div class="agile_services_grid">
					<div class="hover06 column">
						<div>
							<figure><img src="/static/assets/images/s2.jpg" alt=" " class="img-responsive"></figure>
						</div>
					</div>
					<div class="agile_services_grid_pos">
						<i class="fa fa-suitcase" aria-hidden="true"></i>
					</div>
				</div>
				<h4>Lobortis quis dolor</h4>
				<p>Lorem ipsum dolor sit amet, do eiusmod tempor incididunt .Aliquam lacus turpis.</p>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-5 w3_agile_services_grid">
				<div class="agile_services_grid">
					<div class="hover06 column">
						<div>
							<figure><img src="/static/assets/images/s3.jpg" alt=" " class="img-responsive"></figure>
						</div>
					</div>
					<div class="agile_services_grid_pos">
						<i class="fa fa-bed" aria-hidden="true"></i>
					</div>
				</div>
				<h4>Dignissim rhoncus</h4>
				<p>Lorem ipsum dolor sit amet, do eiusmod tempor incididunt .Aliquam lacus turpis.</p>
			</div>
			<div class="mx-auto mt-lg-4 mt-5 text-center">
				<a href="services.html">Explore all Services</a>
			</div>
		</div>
	</div>
</section> -->
<!-- //services -->

<!--/middle-->
<!-- <section class="middle-sec-agileinfo-w3ls py-5">
	<div class="container py-3">
		<h3 class="heading text-center mb-5"> Latest Tour Blog </h3>
			<div class="row inner-sec">
				<div class="col-lg-4 col-md-6 news-left">
					<ul id="demo1_thumbs" class="list-inline">
						<li>
							<a href="/static/assets/images/banner1.jpg">
								<img src="/static/assets/images/b1.jpg" alt="" data-desoslide-caption="<h3>Latest Post 1</h3>">
								<div class="mid-text-info">
									<h4>Maecenas aliqua Aenean aliquam porta sem ins.</h4>
									<p class="font-italic">posted 2 days ago </p>
								</div>
							</a>
						</li>
						<li>
							<a href="/static/assets/images/banner2.jpg">
								<img src="/static/assets/images/b2.jpg" alt="" data-desoslide-caption="<h3>Latest Post 2</h3>">
								<div class="mid-text-info">
									<h4>Maecenas aliqua Aenean aliquam porta sem ins.</h4>
									<p class="font-italic">posted 2 days ago </p>
								</div>
							</a>
						</li>
						<li>
							<a href="/static/assets/images/banner5.jpg">
								<img src="/static/assets/images/b5.jpg" alt="" data-desoslide-caption="<h3>Latest Post 3</h3>">
								<div class="mid-text-info">
									<h4>Maecenas aliqua Aenean aliquam porta sem ins.</h4>
									<p class="font-italic">posted 2 days ago </p>
								</div>
							</a>
						</li>
						<li>
							<a href="/static/assets/images/banner4.jpg">
								<img src="/static/assets/images/b4.jpg" alt="" data-desoslide-caption="<h3>Latest Post 4</h3>">
								<div class="mid-text-info">
									<h4>Maecenas aliqua Aenean aliquam porta sem ins.</h4>
									<p class="font-italic">posted 2 days ago </p>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div id="demo1_main_image" class="col-lg-8 col-md-6 news-right">
					<h4 class="text-uppercase mb-4">Happy Travelling </h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	</section> -->
	<!--//middle-->

<!-- team -->
<hr>
	<div class="team py-6">
	   <div class="agile_dot_info two">
		<div class="container">
		<h3 class="heading text-center mb-5">Our Team</h3>
			<div class="row agileits_team_grids justify-content-center">
				<div class="col-lg-3 col-sm-6 agileits_team_grid">
					<div class="agileits_team_grid_figure">
						<img src="/static/assets/images/gundu.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="agileits_team_grid_figure_social">
						<ul class="w3ls_social">
							<!-- <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
							<li><a href="https://www.instagram.com/_naeemaa_/" class="" style="font-size:38px;color:red"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					<h4> Naema <span>guide</span></h4>
					<p>Adventures are the best way to learn.</p>
				</div>
				<div class="col-lg-3 col-sm-6 agileits_team_grid">
					<div class="agileits_team_grid_figure">
						<img src="/static/assets/images/ruxh.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="agileits_team_grid_figure_social">
						<ul class="w3ls_social">
							<!-- <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
							<li><a href="https://www.instagram.com/rushhddd/" class="" style="font-size:38px;color:red"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					<h4>Rushda <span>guide</span></h4>
					<p>Dare to live the life you’ve always wanted.</p>
				</div>
				<div class="col-lg-3 col-sm-6 agileits_team_grid">
					<div class="agileits_team_grid_figure">
						<img src="/static/assets/images/anugrah.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="agileits_team_grid_figure_social">
						<ul class="w3ls_social">
							<!-- <li><a href="https://www.facebook.com/anugrah.kv.925?mibextid=LQQJ4d" class="" style="font-size:30px;color:red"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
							<li><a href="https://www.instagram.com/_an.ugr.ah_/" class="" style="font-size:38px;color:red"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					<h4>Anugrah  <span>guide</span></h4>
					<p>The journey of a thousand miles begins with a single step.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //team -->
<script type="text/javascript">
	function member(){
		var m =document.getElementById('pack').value;
		
		if (m =="group" || m=="bachelers" || m=="ladies"){
			document.getElementById("members").style.display = "block";
			document.getElementById("couple").style.display = "none";
			document.getElementById("family").style.display = "none";
			document.getElementById("family1").style.display = "none";



		}
		else if (m =="couple"){
			document.getElementById("couple").style.display = "block";
			document.getElementById("members").style.display = "none";
			document.getElementById("family").style.display = "none";
			document.getElementById("family1").style.display = "none";




		}
		else if (m =="family"){
			document.getElementById("couple").style.display = "none";
			document.getElementById("members").style.display = "none";
			document.getElementById("family").style.display = "block";
			document.getElementById("family1").style.display = "block";

		}

		else{
			document.getElementById("members").style.display = "none";
			document.getElementById("couple").style.display = "none";
			document.getElementById("family").style.display = "none";
			document.getElementById("family1").style.display = "none";




		}
	}
</script>
{% endblock %}