{% extends "headerfooterinner.html"%}
	{% block content %}
		
<!-- contact -->
<section class="w3ls-section contact py-5">
	<div class="container py-sm-3">
		<div class="w3ls-title">
			<h2 class="heading text-center mb-sm-5 mb-4">LOGIN</h2>
		</div>
		<!-- <div class="w3ls_map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48306.05339877067!2d-74.245183970742!3d40.825144655510556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2555646a723a1%3A0x449f3366d017b214!2sMontclair%2C+NJ%2C+USA!5e0!3m2!1sen!2sin!4v1465991700675"></iframe>
		</div> -->

		<div class="row contact_wthreerow agileits-w3layouts">
		
			<div class="col-lg-5 col-md-6 agileits_w3layouts_contact_gridl">
				<div class="agileits_mail_grid_right_grid">
					<h4>Our Contact Address</h4>
					<p>capture your happy moments with our packages..</p>
					<ul class="contact_info">
						<li><span class="fa fa-map-marker" aria-hidden="true"></span>Trippygo Travel Agency,kannur,Kerala,India</span>.</li>
						<li><span class="fa fa-envelope" aria-hidden="true"></span><a href="mailto:trippygo@gmail.com">trippygo@gmail.com</a></li>
						<li><span class="fa fa-phone" aria-hidden="true"></span> 7510352513</li>
						<li><span class="fa fa-envelope" aria-hidden="true"></span><a href="#">trippygo@gmail.com</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-7 col-md-6 mt-md-0 mt-5 w3l_contact_form">
				<!-- <h4>Contact Form</h4> -->
				<h4 style="color:red;text-align: center;">{{error}}</h4>
				<form action="/login/" method="POST">
					{% csrf_token %}
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"
						required="">
					<input type="password" name="Password" placeholder="Password"
						required="">
					<input type="submit" value="Login">
				</form>
			</div>
		</div>
	</div>
</section>
<!-- //contact -->
{% endblock %}