{% extends "headerfooterinner.html"%}
	{% block content %}
<style>
.checked {
  color: orange;
}
</style>
<!-- /services -->
<section class="featured_services py-5">
	<div class="container py-sm-3">
		<h2 class="heading text-center mb-sm-5 mb-4">Our Services</h2>
		<div class="row agile_inner_info">
			<div class="col-lg-4 col-sm-6 mb-5 w3_agile_services_grid">
				<div class="agile_services_grid">
					<div class="hover06 column">
						<div>
							<figure><img src="/static/assets/images/tourplan.jpg" alt=" " width="250" height="250" class="img-responsive"></figure>
						</div>
					</div>
					<div class="agile_services_grid_pos">
						<i class="fa fa-globe" aria-hidden="true"></i>
					</div>
				</div>
				<h4> PLANNING </h4>
				<p>Travel is the only thing you buy that makes you richer. we provide complete planning of the trip </p>
			</div>
			<div class="col-lg-4 col-sm-6 mb-5 w3_agile_services_grid">
				<div class="agile_services_grid">
					<div class="hover06 column">
						<div>
							<figure><img src="/static/assets/images/trekking.jpg" alt=" " width="250" height="250" class="img-responsive"></figure>
						</div>
					</div>
					<div class="agile_services_grid_pos">
						<i class="fa fa-suitcase" aria-hidden="true"></i>
					</div>
				</div>
				<h4> TREKKING  </h4>
				<p>It’s easier to go down a hill than up it but the view is much better at the top....Hike more, worry less.  .</p>
			</div>
			<div class="col-lg-4 col-sm-6 mb-5 w3_agile_services_grid">
				<div class="agile_services_grid">
					<div class="hover06 column">
						<div>
							<figure><img src="/static/assets/images/foodd.jpg" alt=" " width="250" height="250" class="img-responsive"></figure>
						</div>
					</div>
					<div class="agile_services_grid_pos">
						<i class="fa fa-bed" aria-hidden="true"></i>
					</div>
				</div>
				<h4>FOOD</h4>
				<p>Good food, good life.</p>
			</div>
			
			<div class="col-lg-4 col-sm-6 mb-sm-0 mb-5 w3_agile_services_grid">
				<div class="agile_services_grid">
					<div class="hover06 column">
						<div>
							<figure><img src="/static/assets/images/stay.jpg" alt=" " width="250" height="250" class="img-responsive"></figure>
						</div>
					</div>
					<div class="agile_services_grid_pos">
						<i class="fa fa-suitcase"></i>
					</div>
				</div>
				<h4>ACCOMMODATION </h4>
				<p>we provide facilitated rooms and resort</p>
			</div>
			<div class="col-lg-4 col-sm-6 mb-sm-0 mb-5 w3_agile_services_grid">
				<div class="agile_services_grid">
					<div class="hover06 column">
						<div>
							<figure><img src="/static/assets/images/romantictrip.jpg" alt=" "  width="250" height="250"class="img-responsive"></figure>
						</div>
					</div>
					<div class="agile_services_grid_pos">
						<i class="fa fa-bed"></i>
					</div>
				</div>
				<h4>ROMANTIC TRIP</h4>
				<p>we provide romantic honeymoon packages with alot of events and activities...so your trip will be memorable</p>
			</div>
			<div class="col-lg-4 col-sm-6 w3_agile_services_grid">
				<div class="agile_services_grid">
					<div class="hover06 column">
						<div>
							<figure><img src="/static/assets/images/para.jpg" alt=" " width="250" height="250" class="img-responsive"></figure>
						</div>
					</div>
					<div class="agile_services_grid_pos">
						<i class="fa fa-camera-retro"></i>
					</div>
				</div>
				<h4>ACTIVITIES</h4>
				<p>We provide different activities and events along with each packages</p>
			</div>
		</div>
	</div>
</section>
<!-- //services -->	

<!-- testimonials -->
	<div class="testimonials pt-lg-5 pb-lg-0 pb-4">
		<div class="container">
		<h3 class="heading text-center mb-md-5 mb-3">Happy Clients</h3>
			<div class="w3_testimonials_grids">
				<div id="slideshow" class="disabled">
<!-- 					<button class="previous"><b>« Previous</b></button>
					<button class="next"><b>Next »</b></button> -->
					<div class="strip" style="margin-bottom: 50px;">
						<div class="row slide sticky">
							{% for x in data %}
							<div class="col-lg-6 agileinfo_team_grid mt-sm-4 my-5">
								<div class="agileinfo_team_grid1">
									<div class="agileinfo_team_grid1_text">
										<div class="agileinfo_team_grid1_pos">
											<img src="{{x.image.url}}" alt=" " style="object-fit: cover;" class="img-responsive" />
										</div>
											<h4>{{x.name}}</h4><br>
										 {% if x.star == "1" %}
										<p>Star Rating
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star "></span>
										<span class="fa fa-star "></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										</p>
										 {% elif x.star == "2" %}
										<p>Star Rating
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star "></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										</p>
										 {% elif x.star == "3" %}
										<p>Star Rating
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										</p>
										 {% elif x.star == "4" %}
										<p>Star Rating
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										</p>
										 {% elif x.star == "5" %}
										<p>Star Rating
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										</p>
										{% endif %}
										<!-- <div class="clearfix"></div> -->
										<p>{{x.experience}}.</p>
										<p>submitted on: {{x.date}}<br>
										package:  <a href="/details/?pid={{x.package_id.id}}">{{x.package_id.destination}}</a></p>
									</div>									
								</div>
							</div>
							{% endfor %}
							
								<!-- <div class="col-lg-0 mt-3">
									<a href="/reviewpage/">Read More</a>
								</div> -->
								<div class="row welcome-grids justify-content-center ">
									<div class="col-lg-0 mt-0">
										<a href="/reviewpage/">Read More</a>
									</div>
								</div>


							<!-- <div class="col-lg-6 agileinfo_team_grid">
								<div class="agileinfo_team_grid1">
									<div class="agileinfo_team_grid1_text">
										<div class="agileinfo_team_grid1_pos">
											<img src="/static/assets/images/b2.jpg" alt=" " class="img-responsive" />
										</div>
										<h4>John Mark</h4>
										
										<div class="clearfix"></div>
										<p>Sed eu sollicitudin ex. Donec elit malesuada maur ac lectus molestie tristique amet.</p>
									</div>
									
								</div>
							</div>
						</div>
						<div class="row slide">
							<div class="col-lg-6 agileinfo_team_grid">
								<div class="agileinfo_team_grid1">
									<div class="agileinfo_team_grid1_text">
										<div class="agileinfo_team_grid1_pos">
											<img src="/static/assets/images/b1.jpg" alt=" " class="img-responsive" />
										</div>
										<h4>Thomus Lii</h4>
										
										<div class="clearfix"></div>
										<p>Sed eu sollicitudin ex. Donec elit malesuada maur ac lectus molestie tristique amet.</p>
									</div>
									
								</div>
							</div>
							<div class="col-lg-6 agileinfo_team_grid">
								<div class="agileinfo_team_grid1">
									<div class="agileinfo_team_grid1_text">
										<div class="agileinfo_team_grid1_pos">
											<img src="/static/assets/images/b4.jpg" alt=" " class="img-responsive" />
										</div>
										<h4>Joseph Carl</h4>
										
										<div class="clearfix"></div>
										<p>Sed eu sollicitudin ex. Donec elit malesuada maur ac lectus molestie tristique amet.</p>
									</div>
									
								</div>
							</div> -->
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
<!-- //testimonials -->

{% endblock %}