{% extends "admin/headerfooter.html" %}
{% block content %}

<style>
/*.btnfont 
{
    color: #000000;
    text-decoration: none;
}*/
.btnfont
{
  font-size:14px;
}
</style>
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="table-agile-info">
  <div class="panel panel-default detail">
    <div class="panel-heading">
      PACKAGES
    </div>
   <div class="container">
    <div class="table-responsive">
      <br>
       <label for="Location" class="control-label col-lg-3">Filter & Search</label>
      <br>
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th>LOCATION</th>
            <th>DESTINATION</th>
            <th>DAYS</th>
            <th>NIGHTS</th>
            <th>IMAGE</th>
            <th>DAY1</th>
            <th>DAY2</th>
            <th>DAY3</th>
            <th>DAY4</th>
            <th>DAY5</th>
            <th>DAY6</th>
            <th>DAY7</th>
            <th>DAY8</th>
            <th>DAY9</th>
            <th>DAY10</th>
            <th>DAY11</th>
            <th>DAY12</th>
            <th>DAY13</th>
            <th>DAY14</th>
            <th>DAY15</th>
            <th>CATEGORY</th>
            <th>SPECIAL PACKAGES CATEGORY</th>
            <th>AMOUNT</th>
            <th>DISCOUNT</th>
            <th>DISCOUNT PERCENTAGE (in %)</th>
            <th>NO FOR CUSTOMIZATION</th>
            <th>Action</th>

            <!-- <th style="width:30px;"></th> -->
          </tr>
        </thead>
        <tbody id="myTable">


{% for x in query %}

          <tr>
            <td>{{x.location.locationadd}}</td>
            <td>{{x.destination}}</td>
            <td>{{x.days}}</td>
            <td>{{x.nights}}</td>
            <td><img src="{{x.image.url}}" style="width:200px;height: 200px;"></td>
            <td>{{x.day1}}</td>
            <td>{{x.day2}}</td>
            <td>{{x.day3}}</td>
            <td>{{x.day4}}</td>
            <td>{{x.day5}}</td>
            <td>{{x.day6}}</td>
            <td>{{x.day7}}</td>
            <td>{{x.day8}}</td>
            <td>{{x.day9}}</td>
            <td>{{x.day10}}</td>
            <td>{{x.day11}}</td>
            <td>{{x.day12}}</td>
            <td>{{x.day13}}</td>
            <td>{{x.day14}}</td>
            <td>{{x.day15}}</td>
            <td>{{x.category}}</td>
            <td>{{x.specialcategory}}</td>
            <td>{{x.amount}}</td>
            <td>{{x.discamount}}</td>
            <td>{{x.discpercentage}}</td>
            <td>{{x.cnum}}</td>
            <td>
            <a  href="/update/?uuid={{x.id}}" class="btn btn-success">Update</a></button><br>
            <br><a  href="/package_delete/?uuid={{x.id}}" class="btn btn-danger">Delete</a></button>
            </td>
            <!-- <td>
            <button type="button" class="btn btn-danger"><a  href="/delete/?bid={{x.id}}">Delete</a></button>
            <button type="button" class="btn-primary"><a  href="/update/?bid={{x.id}}">Update</a></button>
            </td> -->
          </tr>

{% endfor %}

     <!--      <tr>
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td>Formasa</td>
            <td>8c</td>
            <td>Jul 22, 2013</td>
            <td>
              <a href="" ui-toggle-class=""><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
            </td>
          </tr>
          <tr>
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td>Avatar system</td>
            <td>15c</td>
            <td>Jul 15, 2013</td>
            <td>
              <a href="" class="active" ui-toggle-class=""><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
            </td>
          </tr>
          <tr>
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td>Throwdown</td>
            <td>4c</td>
            <td>Jul 11, 2013</td>
            <td>
              <a href="" class="active" ui-toggle-class=""><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
            </td>
          </tr>
          <tr>
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td>Idrawfast</td>
            <td>4c</td>
            <td>Jul 7, 2013</td>
            <td>
              <a href="" class="active" ui-toggle-class=""><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
            </td>
          </tr>
          <tr>
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td>Formasa</td>
            <td>8c</td>
            <td>Jul 3, 2013</td>
            <td>
              <a href="" class="active" ui-toggle-class=""><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
            </td>
          </tr>
          <tr>
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td>Avatar system</td>
            <td>15c</td>
            <td>Jul 2, 2013</td>
            <td>
              <a href="" class="active" ui-toggle-class=""><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
            </td>
          </tr>
          <tr>
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td>Videodown</td>
            <td>4c</td>
            <td>Jul 1, 2013</td>
            <td>
              <a href="" class="active" ui-toggle-class=""><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
   </div> 
  </div>
</div>
</section>
 
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<!--main content end-->

{% endblock %}
